html { 
  background: url(04.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 40pt;
	color: #808080;
	text-align: center;
	position: relative;

}

.desk {
	width: 1000px;
	top:0; left:0; right:0; bottom:0;
	margin: auto;
	height: 950px;
	background-color: none;
	background-position: center;
	background-repeat: repeat-y;
	background-size: 900px 674px;
	position: absolute;
}

.table {
	width: 750px;
	height: 25vh;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
	margin-top: 370px;
	position: relative;	
	overflow-y: scroll;
}

.tableleft{
	width: 375px;
	height: 1000px;
	vertical-align: left;
	float: left;
	position: relative;
	font-family: 'Raleway';
	font-weight: 300;
	color: #808080;

}

.tableright {
	width: 375px;
	height: 1000px;
	vertical-align: right;
	float: right;
	position: relative;
	font-family: 'Raleway';
	font-weight: 300;
	color: #808080;

}

.keyboard {
	width: 1000px;
	margin-right: auto;
	margin-left: -85px;
	margin-top: -200px;
	position: fixed;
}

.keypng {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	position: fixed;
	float: left;
} 
.mouse { 
	width: 275px;
	margin-right: -243px;
	margin-top: -50px;
	float: right;

}

.keys {
	background-color: red;
	width: 660px;
	height: 230px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 274px;
	position: relative;
	opacity: .35;
}

.ktild {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 12px;
	margin-top: 9px;
	position: absolute;
	float: left;
}

.k1 {
	width: 31px;
	height: 30px;
	background-color: green;
	margin-left: 57px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k2 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 102px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k3 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 146px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k4 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 192px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k5 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 236px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k6 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 282px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k7 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 327px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k8 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 372px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k9 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 417px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.k0 {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 462px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.kdash {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 507px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.kequal {
	width: 31px;
	height: 30px;
	background-color: yellow;
	margin-left: 552px;
	margin-top: 9px;
	position: absolute;
	float: right;
}

.kq {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 79px;
	margin-top: 53px;
	position: absolute;
	float: left;
}

.kw {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 124px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ke {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 169px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.kr {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 214px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.kt {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 259px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ky {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 304px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ku {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 349px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ki {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 394px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ko {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 439px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.kp {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 484px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.kleftbracket {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 529px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.krightbracket {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 574px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.kbackslash {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 619px;
	margin-top: 53px;
	position: absolute;
	float: right;
}

.ka {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 91px;
	margin-top: 97px;
	position: absolute;
	float: left;
}

.ks {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 136px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kd {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 181px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kf {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 226px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kg {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 271px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kh {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 316px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kj {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 361px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kk {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 406px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kl {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 451px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.ksemicolon {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 496px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kapostrophe {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 541px;
	margin-top: 97px;
	position: absolute;
	float: right;
}

.kshift {
	width: 87px;
	height: 30px;
	background-color: blue;
	margin-left: 12px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kz {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 114px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kx {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 158px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kc {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 204px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kv {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 249px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kb {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 294px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kn {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 339px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.km {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 384px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kcoma {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 429px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kperiod {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 474px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kforwardslash {
	width: 31px;
	height: 30px;
	background-color: blue;
	margin-left: 519px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.kshift2 {
	width: 87px;
	height: 30px;
	background-color: blue;
	margin-left: 564px;
	margin-top: 141px;
	position: absolute;
	float: left;
}

.koption {
	width: 31px;
	height: 35px;
	background-color: blue;
	margin-left: 102px;
	margin-top: 185px;
	position: absolute;
	float: left;
}

.kcommand {
	width: 42px;
	height: 35px;
	background-color: blue;
	margin-left: 147px;
	margin-top: 185px;
	position: absolute;
	float: left;
}

.kspace {
	width: 209px;
	height: 35px;
	background-color: blue;
	margin-left: 205px;
	margin-top: 185px;
	position: absolute;
	float: left;
}

.kcommand2 {
	width: 42px;
	height: 35px;
	background-color: blue;
	margin-left: 429px;
	margin-top: 185px;
	position: absolute;
	float: left;
}

.koption2 {
	width: 31px;
	height: 35px;
	background-color: blue;
	margin-left: 485px;
	margin-top: 185px;
	position: absolute;
	float: left;
}

.kleftarrow {
	width: 31px;
	height: 17px;
	background-color: blue;
	margin-left: 530px;
	margin-top: 205px;
	position: absolute;
	float: left;
}

.kdownarrow {
	width: 31px;
	height: 17px;
	background-color: blue;
	margin-left: 575px;
	margin-top: 205px;
	position: absolute;
	float: left;
}

.kuparrow {
	width: 31px;
	height: 17px;
	background-color: blue;
	margin-left: 575px;
	margin-top: 184px;
	position: absolute;
	float: left;
}

.krightarrow {
	width: 31px;
	height: 17px;
	background-color: blue;
	margin-left: 620px;
	margin-top: 205px;
	position: absolute;
	float: left;
}

.mouseclick { 
	width: 45px;
	height: 62px;
	background-color: blue;
	opacity: .4;
	margin-right: -147px;
	margin-top: -7px;
	float: right;

}

.bottomlinks {
	width: 1000px;
	height: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -2px;

}

.link {
  width: 200px;
  display: inline-block;
  text-align: center;
  color: white;
}

a {
	font-family: 'Raleway';
	font-weight: 300;
}

/* unvisited link */
a:link {
    color: #808080;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #808080;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #C0C0C0;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}